@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

html body {
  
    scroll-behavior: smooth;
    /* min-height: 100%; */
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Allerta Stencil', sans-serif;
}

:root {
    --corRosa: #b31545;
    --corCreme: #e5d7a6;
    --corBranca: #fff;
    --corPreta: #000;
}

.actions {
  padding: 20px;
  height: 20px;
  border: 1px solid red;
  position: fixed;
  width: 100%;
  top:80px;
  text-align: center;
}
.actions a{
  margin:10px;
  padding: 5px 20px;
  text-decoration: none;
  background: aquamarine;
  border-radius: 5px;
}
.criar-registro {
  background-color:#b31545;
  border: 1px solid green;
  position: fixed;
  width: 100vw;
  top:142px;
  text-align: center;
}
.criar-registro h2 {
  color:blue;
}

.listar-registro {
  display:none;
  background-color:lightgreen;
  border: 1px solid yellow;
  position: fixed;
  width: 100vw;
  top:142px;
  text-align: center;
}
.listar-registro h2 {
  color:pink;
}


