/*Menu CSS*/

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


header {
    
    width: 100vw;
    height: 75px;
    border-bottom: #b31545 5px solid;
    display: flex;
    justify-content: space-between;


    /* Para manter o navbar sempre no topo da página */
    /* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page   */
    /* Para manter o navbar sempre no topo da página */
}

header a img {
    width: 110px;
    position: auto;
    margin-top: 5px;
    padding: 0px;
    margin-left: 25px;
    }

.menu ul {
    list-style: none;
    text-transform: uppercase;
    height: 100%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu li {
    font-family: 'Allerta Stencil', sans-serif;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.menu a {
    color: #b31545;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    text-shadow: 2px 1px 1px #e5d7a6;
    text-decoration: line-through;
    transition: 500ms linear;
    cursor: pointer;
}
/*Fim menu*/

/*Menu Hamburger*/
#hamburger-icon {
    margin: auto 25px ;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #b31545;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content:center;
    background-color:black;

}

.mobile-menu {
    display:none;
    position:fixed;
    z-index: 5;
    top: 80px;
    left: -50vw;
    height: 100vh;
    width: 150vw;
   
    
}

.mobile-menu li {
    margin-bottom: 50px;
    margin-left: -50px;
    display: inline-block;
    list-style: none;
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
}

.mobile-menu a {
    text-decoration: none;
    color: #b31545
}

.mobile-menu a:hover {
    color: white;
    text-shadow: 2px 1px 1px #e5d7a6;
    text-decoration: line-through;
    transition: 500ms linear;
    cursor: pointer;
}/*Menu CSS*/
header {
    
    width: 100vw;
    height: 75px;
    border-bottom: #b31545 5px solid;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    /* Para manter o navbar sempre no topo da página */
    /* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page   */
    /* Para manter o navbar sempre no topo da página */

    

}

header a img {
    width: 110px;
    position: auto;
    margin-top: 5px;
    padding: 0px;
    margin-left: 25px;
}

.menu ul {
    list-style: none;
    text-transform: uppercase;
    height: 100%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu li {
    font-family: 'Allerta Stencil', sans-serif;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.menu a {
    color: #b31545;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    text-shadow: 2px 1px 1px #e5d7a6;
    text-decoration: line-through;
    transition: 500ms linear;
    cursor: pointer;
}
/*Fim menu*/

/*Menu Hamburger*/
#hamburger-icon {
    margin: auto 25px ;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #b31545;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: flex-start; */
    background-color:black;
    
    margin: auto;
    
   
}

.mobile-menu {
    display: none;
    position:fixed; 
    z-index: 5;
    /* padding: 40px; */
    top: 80px;
    left: 0px;
    
    /* height: 100vh; */
    /* border-bottom: #b31545 5px solid; */
    width: 100vw;
}

.mobile-menu li {
    margin-bottom: 50px;
    margin-left: -40px;
    display: inline-block;
    list-style: none;
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
}

.mobile-menu a {
    text-decoration: none;
    color: #b31545
}

.mobile-menu a:hover {
    color: white;
    text-shadow: 2px 1px 1px #e5d7a6;
    text-decoration: line-through;
    transition: 500ms linear;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
        
    }
    #hamburger-icon {
        display: block;
    }
}

/*Fim*/
