*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --corRosa: #b31545;
  --corCreme: #e5d7a6;
  --corBranca: #fff;
  --corPreta: #000;
}


main{
  height: 100vh;
  background: url('../img/back-agendamento.jpg') fixed no-repeat;
  background-size: cover;
}

#container{
  width: 21.875rem;
  height: 33.27rem;
  background: inherit;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -250px;
  border-radius: 8px;
  padding: 20px 0;
}

#container:before{
  width: 37.5rem;
  height: 40.625rem;
  content: "";
  position: absolute;
  top: -25px;
  left: -25px;
  bottom: 0;
  right: 0;
  background: inherit;
  box-shadow: inset 0 0 0 300px rgba(255,280,255,0.2);
  filter: blur(10px);
}
form img{
  max-width:100%;
  height: 60%;
  border-radius: 100%;
  margin-bottom: 60px;
}
form{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  
  transform: translate(-50%,-50%);
}
input::placeholder{
  color: rgba(255, 255, 255, 0.62);
}
input{
  background: 0;
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255,255,255, 0.3);
  margin: 20px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255,255,255, 0.8);
}
input[type="submit"]{
  border: 0;
  border-radius: 8px;
  padding-bottom: 0;
  height: 60px;
  background: #b31545;
  color: white;
  cursor: pointer;  
}
input[type="submit"]:hover{
  background: #0b0f1f;
  transition: 5ms;
}
span a{
  color: rgba(255,255,255, 0.8);
}



header {
  background-color: black;
  width: 100%;
  height: 100%;
  border-bottom: #b31545 5px solid;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

header a img {
  width: 100px;
  position: auto;
  margin-top: 0px;
  padding: 0px;
  margin-left: 15px;
  }

.menu ul {
  list-style: none;
  text-transform: uppercase;
  height: 100%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu li {
  font-family: 'Allerta Stencil', sans-serif;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.menu a {
  color: #b31545;
  text-decoration: none;
}

.menu a:hover {
  color: white;
  text-shadow: 2px 1px 1px #e5d7a6;
  text-decoration: line-through;
  transition: 500ms linear;
  cursor: pointer;
}
/*Fim menu*/

/*Menu Hamburger*/
#hamburger-icon {
  margin: auto 25px ;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: #b31545;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color:black;
 
}

.mobile-menu {
  display: none;
  position:fixed; 
  z-index: 5;
  padding: 40px;
  top: 109px;
  left: 0px;
  height: 100vh;
  /* border-bottom: #b31545 5px solid; */
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 50px;
  margin-left: -40px;
  display: inline-block;
  list-style: none;
  font-family: 'Allerta Stencil', sans-serif;
  text-transform: uppercase;
}

.mobile-menu a {
  text-decoration: none;
  color: #b31545
}

.mobile-menu a:hover {
  color: white;
  text-shadow: 2px 1px 1px #e5d7a6;
  text-decoration: line-through;
  transition: 500ms linear;
  cursor: pointer;
}

@media (max-width: 800px) {
  header nav {
      display: none;
  }
  #hamburger-icon {
      display: block;
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;

      }
      #container{
        width: 21.875rem;
        height: 31.25rem;
        background: inherit;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        margin-left: -175px;
        margin-top: -150px;
        border-radius: 8px;
        padding: 20px 0;
      }
      #container:before{
        width: 37.5rem;
        height: 40.625rem;
        content: "";
        position: absolute;
        top: -25px;
        left: -25px;
        bottom: 0;
        right: 0;
        background: inherit;
        box-shadow: inset 0 0 0 300px rgba(255,280,255,0.2);
        filter: blur(10px);
      }  
    }
/*Fim*/